@import "tailwindcss";

:root {
  --brand-primary: #1d9e75;
  --brand-dark: #1a1a2e;
  --brand-light: #f1efe8;
  --background: var(--brand-light);
  --foreground: var(--brand-dark);

  --primary: var(--brand-primary);
  --primary-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: var(--brand-dark);

  --border: #d1cfc7;
  --input: #e2e0d8;
  --ring: var(--brand-primary);

  --muted: #e5e3db;
  --muted-foreground: #5a5a6e;
}

/* Animation Tech Stack */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee linear infinite;
}

@utility pause-marquee {
  animation-play-state: paused;
}
body {
}
